html,body {
    padding:0;
    margin:0;
    background-color:darkblue;
    background-image:url(http://demolitions.github.io/repos/countdown/Fantasy_Planet_Space_Impact_52063.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#page {
    height:100%;
    width:100%;
    margin:0;
    padding:5% 0;
    text-align:center;
}
